	#rti-viewer * {
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: -moz-none;
		-o-user-select: none;
		outline: none;
	}
	
	#rti-viewer .toolbarButton, #rti-viewer .toolbarButton2
	{
		margin-bottom: 10px !important;
		background: rgba(0, 0, 0, 0.0) !important;
		border: 0px !important;
	}
	
	#rti-viewer .toolbarIcon
	{
		width: 100%;
		height: 100%;
		background-size: 100%;
		left: 0px !important;
		top: 0px !important;
		margin: 0px !important;
		opacity: 0.85;
		display: inline-block;
		background-repeat: no-repeat;
	}
	
	#rti-viewer .zoomInIcon
	{
		background-image: url(icons/zoomin.png) !important;
		
	}

	#rti-viewer .zoomOutIcon
	{
		background-image: url(icons/zoomout.png) !important;
	}
	
	#rti-viewer .lightIcon
	{
		background-image: url(icons/light.png) !important;
	}
	
	#rti-viewer .lightOnIcon
	{
		background-image: url(icons/light_on.png) !important;
	}
	
	#rti-viewer .helpIcon
	{
		background-image: url(icons/help.png) !important;
	}
	
	#rti-viewer .fullIcon
	{
		background-image: url(icons/full.png) !important;
	}
	
	#rti-viewer .fullOnIcon
	{
		background-image: url(icons/full_on.png) !important;
	}
	
	
	#rti-viewer .ui-state-hover .toolbarIcon
	{
		opacity: 1.0;
	}
	
	
	#rti-viewer #guideTable
	{
		display:table;
		width: 100%;
		height: 100%;
		font-size: 15px;
		font-family: Verdana,sans-serif;
	}
	
	#rti-viewer #guideCell
	{
		display: table-cell;
		width: 100%;
		vertical-align: middle;
		text-align: left;
	}
	
	#rti-viewer #guideList
	{
		width: 90%;
		margin: auto;
	}
	
	#rti-viewer #guideList li
	{
		margin-bottom: 5px;
	}
		
	#rti-viewer #guideList span
	{
		width: 30px;
		height: 30px;
	}
	
	#rti-viewer #guideList img
	{
		width: 30px;
	}
